.addUser-container{
  margin: auto;
  height: 50vh;
  width: 700px;
}
.addUser-button{
  position: relative;
  left: 80%;
  color: white;
  border: none;
  padding: 10px 25px;
  background-color: blue;
   cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
}
.button-p{
  position: relative;
  /* text-align: center; */
}
.heading{
  text-align: center;
}
.edit{
  color: white;
  background-color: green;
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 25px;
   cursor: pointer;
}
.delete{
   color: white;
  background-color: red;
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.login{
  display: flex;
  height: 40vh;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin:30vh auto;
  flex-direction: column;
  row-gap: 20px;
  background-image: linear-gradient(to bottom right ,navy 50%,white 50%);
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  color: white;

  .login-form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    input{
       width: 80%;
       height: 5vh;
       padding: 1vh 1vw;
       /* border: none; */
      outline: none;
      border-radius: 2.5vh;
      border: solid 2px navy;

    }
    button{
      
      padding: 1vh 2vw;
      border: solid 2px navy;
      border-radius: 2.5vh;
      color: navy;

    }
  }

}